body{
    color: #222;
    margin: 0;
}

p{
    font-family: 'Times New Roman';
    font-size: 12px;
}
.cabeza{
    font-family: "Montserrat";
    text-align: justify;
    margin: auto;
    background-color: black;
    padding: 10px;
    color: #ddd;
}

.cuerpo{
    width: 80%;
    margin: auto;
}

.Descripcion{
    text-align: center;
}
h1{
    text-align: center;
}

.pie{
    background-color: black;
    color: #fff;
    padding: 10px 50px;
}