body{
    color: #111;
}

.box1{
    width: 65%;
    text-align: justify;
    margin: auto;
}

.texto{
    display: flex;
}
.box2{
    width: 80%;
    margin: auto;
}

.Descripcion{
    text-align: center;
}
h1{
    text-align: center;
}